future==0.16.0
numpy==1.14.3
opencv-contrib-python==3.4.1.15
opencv-python==3.4.1.15
packaging==17.1
Pillow==5.1.0
pip-review==1.0
PyAutoGUI==0.9.36
PyMsgBox==1.0.6
pyparsing==2.2.0
PyScreeze==0.1.14
PyTweening==1.0.3
six==1.11.0
tornado==5.0.2
xlib==0.21
